USE [master]
GO
/****** Object:  Database [BitirmeDB]    Script Date: 15.09.2022 20:35:38 ******/
CREATE DATABASE [BitirmeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BitirmeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BitirmeDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BitirmeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BitirmeDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BitirmeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BitirmeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Favorites] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Managers]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ManagerType_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ProfileImage] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Managers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ManagerTypes]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ManagerTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Brand_ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Stock] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CoverImage] [nvarchar](100) NULL,
	[CreationDay] [datetime] NOT NULL,
	[SellStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCarts]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCarts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserCarts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.09.2022 20:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ProfileImage] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Adress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([ID], [Name], [Status]) VALUES (1, N'Adidas', 1)
INSERT [dbo].[Brands] ([ID], [Name], [Status]) VALUES (2, N'Nike ', 1)
INSERT [dbo].[Brands] ([ID], [Name], [Status]) VALUES (3, N'Casper', 0)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Description], [Status]) VALUES (1, N'T-shirt', N'S-M-L-XL-XXL beden ', 0)
INSERT [dbo].[Categories] ([ID], [Name], [Description], [Status]) VALUES (2, N'Bilgisayar', N'Dizüstü Bilgisayarlar', 0)
INSERT [dbo].[Categories] ([ID], [Name], [Description], [Status]) VALUES (3, N'Teknoloji', N'Teknolojik Ürünler', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([ID], [User_ID], [Product_ID], [Quantity], [CreationDate]) VALUES (32, 1, 5, 4, CAST(N'2022-09-14 20:27:54.457' AS DateTime))
INSERT [dbo].[Favorites] ([ID], [User_ID], [Product_ID], [Quantity], [CreationDate]) VALUES (33, 1, 6, 3, CAST(N'2022-09-14 20:27:56.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
SET IDENTITY_INSERT [dbo].[Managers] ON 

INSERT [dbo].[Managers] ([ID], [ManagerType_ID], [Name], [Surname], [Mail], [Password], [CreationDate], [ProfileImage], [Status]) VALUES (1, 1, N'Necip', N'Uysal', N'uysal@gmail.com', N'1234', CAST(N'2022-08-05 00:00:00.000' AS DateTime), N'none.jpg', 1)
SET IDENTITY_INSERT [dbo].[Managers] OFF
SET IDENTITY_INSERT [dbo].[ManagerTypes] ON 

INSERT [dbo].[ManagerTypes] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[ManagerTypes] ([ID], [Name]) VALUES (2, N'Moderator')
SET IDENTITY_INSERT [dbo].[ManagerTypes] OFF
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ID], [Product_ID], [ImagePath]) VALUES (2, 1, N'e28db3b5-42cd-430f-aac1-3f24fbfd6534.jpg')
INSERT [dbo].[ProductImages] ([ID], [Product_ID], [ImagePath]) VALUES (3, 2, N'3e730eb2-f59a-4c3e-981c-1c20f74fbd02.jpg')
INSERT [dbo].[ProductImages] ([ID], [Product_ID], [ImagePath]) VALUES (4, 4, N'04b31672-9962-4a48-9b8d-33d969213c7d.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Category_ID], [Brand_ID], [Name], [Description], [Stock], [Price], [CoverImage], [CreationDay], [SellStatus]) VALUES (1, 2, 3, N'Excalibur', N'Casper Excalibur G770', CAST(20.00 AS Decimal(18, 2)), CAST(19999.00 AS Decimal(18, 2)), N'5f49607e-64ad-42ae-a964-495b141075d4.jpg', CAST(N'2022-08-06 14:41:21.000' AS DateTime), 0)
INSERT [dbo].[Products] ([ID], [Category_ID], [Brand_ID], [Name], [Description], [Stock], [Price], [CoverImage], [CreationDay], [SellStatus]) VALUES (2, 3, 4, N'Iphone 11', N'Iphone 11 pro 128GB', CAST(40.00 AS Decimal(18, 2)), CAST(14600.00 AS Decimal(18, 2)), N'da3b130b-395b-4ac9-a057-ff692c5a8d8a.jpg', CAST(N'2022-08-07 17:31:59.397' AS DateTime), 0)
INSERT [dbo].[Products] ([ID], [Category_ID], [Brand_ID], [Name], [Description], [Stock], [Price], [CoverImage], [CreationDay], [SellStatus]) VALUES (3, 4, 5, N'Süpürge', N'Arnica elektrikli süpürge', CAST(3.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), N'dfd53cd2-02fa-4943-bd87-032dfa5b547f.jpg', CAST(N'2022-08-08 12:57:41.017' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[UserCarts] ON 

INSERT [dbo].[UserCarts] ([ID], [User_ID], [Product_ID], [Quantity], [CreationDate]) VALUES (1077, 1, 5, 1, CAST(N'2022-09-15 19:55:38.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserCarts] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [Surname], [Mail], [Password], [CreationDate], [ProfileImage], [Status], [Adress]) VALUES (1, N'Rachid', N'Ghezzal', N'rachid@gmail.com', N'1234', CAST(N'2022-08-22 16:35:17.957' AS DateTime), NULL, 1, N'Yenibağlar Mahallesi. Kaynak Sokak. No:9 Daire:2 Tepebaşı/Eskişehir')
INSERT [dbo].[Users] ([ID], [Name], [Surname], [Mail], [Password], [CreationDate], [ProfileImage], [Status], [Adress]) VALUES (5, N'Mustafa', N'Cağıs', N'mf@gmail.com', N'1234', CAST(N'2022-08-10 21:02:54.327' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Users] ([ID], [Name], [Surname], [Mail], [Password], [CreationDate], [ProfileImage], [Status], [Adress]) VALUES (6, N'Mehmet', N'Yörü', N'me@gmail.com', N'4321', CAST(N'2022-08-10 21:11:11.553' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Product_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ID] ON [dbo].[Favorites]
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[Favorites]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManagerType_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_ManagerType_ID] ON [dbo].[Managers]
(
	[ManagerType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ID] ON [dbo].[ProductImages]
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_Brand_ID] ON [dbo].[Products]
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_Category_ID] ON [dbo].[Products]
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ID] ON [dbo].[UserCarts]
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 15.09.2022 20:35:38 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[UserCarts]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorites_dbo.Products_Product_ID] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_dbo.Favorites_dbo.Products_Product_ID]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorites_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_dbo.Favorites_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Managers_dbo.ManagerTypes_ManagerType_ID] FOREIGN KEY([ManagerType_ID])
REFERENCES [dbo].[ManagerTypes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_dbo.Managers_dbo.ManagerTypes_ManagerType_ID]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductImages_dbo.Products_Product_ID] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_dbo.ProductImages_dbo.Products_Product_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_ID] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID]
GO
ALTER TABLE [dbo].[UserCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserCarts_dbo.Products_Product_ID] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCarts] CHECK CONSTRAINT [FK_dbo.UserCarts_dbo.Products_Product_ID]
GO
ALTER TABLE [dbo].[UserCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserCarts_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCarts] CHECK CONSTRAINT [FK_dbo.UserCarts_dbo.Users_User_ID]
GO
USE [master]
GO
