
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}


<div class="card">
    <div class="card-header">
        <h1>Hoşgeldiniz</h1>
    </div>
    <div class="card-body">
        <div style="text-align:center">
            <img src="~/Areas/AdminPanel/Images/adminresmi.jpg" width="530" height="530" />
        </div>
    </div>
</div>

